<%- include('components/common') %>
<%- include('components/header', { session: session }) %>

<style>
    .menu{
        overflow-y: hidden;
        max-height: 0px;
        padding: 0px 20px;
        transition: all .5s ease-in-out;
    }
    
    .menu.open{
        max-height: 2000px;
        padding: 20px 20px;
    }

    .iframe_container{
        width: 100%;
        /* remove border and scroll bars*/
        border: 2px solid black;
        border-radius: 8px;
        height: 400px;
    }
</style>

<div class="content">
    <br/>

    <div class="flex-center">
        <span class="huge">Manage USG User Profile (Self)</span>
    </div>
    <br/>
    <div class="flex-center">
        <span class="medoim">Current Profile Status</span>
    </div>
    <div class="flex-center">
        <div class="status-bar flex-center">
            <div class="status bad left <%= profile.status == 'hide' ? 'selected' : '' %>">Hidden</div>
            <div class="status bad <%= profile.status == 'bad' ? 'selected' : '' %>">Pending Edits</div>
            <div class="status <%= profile.status == 'review' ? 'selected' : '' %>">Under Review</div>
            <div class="status good right <%= profile.status == 'ok' ? 'selected' : '' %>">OK</div>
        </div>
    </div>

    <br/>
    <hr/>
    <br/>

    <div>
        <div class="flex-center">
            <div>
                <label class="small">Username</label>
                <input type="text" class="medium" placeholder="Name" name="username" value="<%= profile.username %>" disabled/>
            </div>
            <div>
                <label class="small">Position</label>
                <input type="text" class="medium" placeholder="USG Position" name="position" value="<%= profile.position %>" disabled/>
            </div>
            <div>
                <label class="small">Full Name</label>
                <input type="text" class="medium" placeholder="Name" name="name" value="<%= profile.name %>" onchange="editProfile('name')"/>
            </div>
        </div>
        <br/>
        <div class="flex-center">
            <div class="segment profile">
                <span class="medium">Manage Profile Data</span>
                <br/>
                <div class="flex-center align-start">
                    <div class="flex-2 left-col">
                        <div>
                            <label class="small">Contact Email</label>
                            <input type="text" class="medium" placeholder="Email" name="d_contact" onchange="editDescription('contact')"/>
                        </div>
                        <hr/>
                        <div class="flex-center">
                            <label>Pronouns</label>
                            <input type="text" placeholder="He / Him / They / Them / She / Her" name="d_pronouns" onchange="editDescription('pronouns')"/>
                        </div>
                        <div class="flex-center">
                            <label>Hometown</label>
                            <input type="text" placeholder="Houghton, MI" name="d_from" onchange="editDescription('from')"/>
                        </div>
                        <div class="flex-center">
                            <label>Committees</label>
                            <input type="text" placeholder="Public Relations" name="d_committees" disabled/>
                        </div>
                        <div class="flex-center">
                            <label>Major/Minors</label>
                            <textarea type="text" placeholder="Majoring in CS" name="d_major" rows="2" onchange="editDescription('major')"></textarea>
                        </div>
                        <div class="flex-center">
                            <label>Organizations</label>
                            <textarea type="text" placeholder="Chess Club" name="d_clubs" rows="2" onchange="editDescription('clubs')"></textarea>
                        </div>
                        <div class="flex-center">
                            <label>Quote</label>
                            <textarea type="text" placeholder="Lalal" name="d_quote" rows="2" onchange="editDescription('quote')"></textarea>
                        </div>
                        <input type="text" placeholder="Description" value="<%= profile.data %>" name="description" class="no-display"/>

                    </div>
                    <div class="flex-1">
                        <span class="medium" id="name"><%= profile.name %></span>
                        <span class="small" id="position"><%= profile.position %></span>
                        <div class="flex-center">
                            <img class="photo" name="d_photo_preview" onerror="this.src='https://cdn1.site-media.eu/images/0/11115977/Drawing.png'" />
                        </div>
                        <div>
                            <label>Photo Link</label>
                            <input type="text" placeholder="Photo" value="<%= profile.photo %>" name="d_photo" onchange="editDescription('photo')"/>
                        </div>
                        <!--
                        Upload Photo
                        -->
                        <div>
                            <label>Upload Photo</label>
                            <div class="flex-center">
                                <input type="file" name="photo" accept="image/*"/>
                                <button class="flex-center" onclick="uploadPhotoAndGetLink()">
                                    <span class="background small">Upload</span>
                                </button>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="flex-apart">
                    <div></div>
                    <div class="flex-center" class="flex-1">
                        
                        <button class="hover-button bg-error flex-center" onclick="window.location.reload()">
                            <span class="material-symbols-outlined small">ink_eraser</span>
                            <div class="sub">
                                <span class="background small">Clear</span>
                            </div>
                        </button>
                        <button class="hover-button flex-center" id="save">
                            <span class="material-symbols-outlined small">save</span>
                            <div class="sub">
                                <span class="background small">Publish</span>
                            </div>
                        </button>
                        <button class="hover-button flex-center" id="preview" onclick="togglePreview()">
                            <span class="material-symbols-outlined small">visibility</span>
                            <div class="sub">
                                <span class="background small">Preview</span>
                            </div>
                        </button>
                    </div>
                </div>
                <div id="show_preview" class="menu" onclick="togglePreview()">
                    

                </div>
            </div>
        </div>
        <br/>
        <!-- <span class="medium">Add Members</span>
        <div class="flex-center align-end">
            <div name="members">
                <div style="display:none" id="add-member-template" class="flex-center">
                    <input type="text" placeholder="Username" />
                    <select>
                        <option value="user">User</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
                <div name="add-member" class="flex-center">
                    <input type="text" placeholder="Username" />
                    <select>
                        <option value="user">User</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
            </div>
            <button id="add" class="flex-center">
                <span class="background small">Add</span>
            </button>
            <button id="append" class="flex-center">
                <span class="background small">+</span>
            </button>
        </div> -->
    </div>
</div>

<script>
    let parseKeys = ['pronouns', 'from', 'committees', 'major', 'clubs', 'quote', 'photo', 'contact'];
    let descriptionData = {};

    let profileData = `
    <%= JSON.stringify(profile.data) %>
    `;

    let editsToSave = {

    };

    function parseDescription(){
        let description = document.querySelector('input[name="description"]');
        let value = description.value;

        if(!description.value) return;

        value = JSON.parse(value);

        for(let key in parseKeys){
            key = parseKeys[key];
            let element = document.querySelector(`[name="d_${key}"]`);
            if(element){
                element.value = value[key] ? value[key] : '';
                descriptionData[key] = value[key] ? value[key] : '';
                if(key == 'photo'){
                    document.querySelector('img[name="d_photo_preview"]').src = value[key] ? value[key] : '';
                }
            }
        }
    }

    function updatePreviews(){
        document.querySelector('#name').innerText = document.querySelector('input[name="name"]').value;
        document.querySelector('#position').innerText = document.querySelector('input[name="position"]').value;
    }

    function editProfile(name){
        let value = document.querySelector(`[name="${name}"]`).value;

        if(!value) return;

        if(name == 'name'){
            editsToSave[name] = value;
        }

        

        if(name == 'photo'){
            document.querySelector('.photo').src = value;   
        }

        window.onbeforeunload = function() {
            return true;
        };
    }

    function editDescription(name){
        let value = document.querySelector(`[name="d_${name}"]`).value;

        if(!value) return;

        descriptionData[name] = value;
        editsToSave['data'] = JSON.stringify(descriptionData);

        window.onbeforeunload = function() {
            return true;
        };
    }

    function saveEdits(){
        let username = document.querySelector('input[name="username"]').value;
        editsToSave['username'] = username;

        post('/internal/api/profile', editsToSave).then(res => {
            window.onbeforeunload = null;
            window.location.reload();
        }).catch(err => {
            alert('Error saving edits');
        });
    }

    function uploadPhotoAndGetLink(){
        let fileInput = document.querySelector('input[name="photo"]');
        if(!fileInput.files || fileInput.files.length === 0) {
            alert('Please select a photo to upload.');
            return;
        }

        let formData = new FormData();

        // rename the file to username_photo.jpg
        let fileType = fileInput.files[0].type.split('/')[1]; // Get the file type (e.g., jpg, png)

        formData.append('image', fileInput.files[0]);
        formData.append('name', document.querySelector('input[name="username"]').value + '_photo' + "." + fileType);
        

        fetch('/internal/api/profile/image', {
            method: 'POST',
            body: formData
        })
        .then(response => response.text())
        .then(data => {
            // data contains the path to the uploaded photo
            let path = "/internal" + data; // Adjust the path as needed
            // Update the photo input with the new path
            document.querySelector('input[name="d_photo"]').value = path;
            // Update the photo preview
            document.querySelector('img[name="d_photo_preview"]').src = path;

            editDescription('photo');
        }).catch(error => {
            // Handle any errors that occurred during the fetch
            console.error('Error:', error);
            alert('Error uploading photo.');
        });

    }

    document.querySelector('#save').addEventListener('click', saveEdits);

    document.querySelector('input[name="name"]').addEventListener('keyup', updatePreviews);
    document.querySelector('input[name="position"]').addEventListener('keyup', updatePreviews);

    parseDescription();



</script>

<script>
    function togglePreview(){
        let preview = document.querySelector('#show_preview');
        if(preview.classList.contains('open')){
            preview.classList.remove('open');
        }else{
            // add to preview
            fetch("/internal/template/member_profile.ejs?position=treasurer").then(res => res.text()).then(html => {
                preview.innerHTML = html;
                // preview.querySelector('iframe').onload = function() {
                //     resizeIframe(preview.querySelector('iframe'));
                // };
                // preview.querySelector('iframe').src = '/internal/api/profile/preview';
                preview.classList.add('open');
            });
            
        }
    }

    // https://stackoverflow.com/questions/9975810/make-iframe-automatically-adjust-height-according-to-the-contents-without-using
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
    }
</script>